{% extends 'base.html' %}

{% load static  %}

{% block content %}
      <!-- Side-Nav-->
      <aside class="main-sidebar hidden-print ">
         <section class="sidebar" id="sidebar-scroll">
            <!-- Sidebar Menu-->
            <ul class="sidebar-menu">
               <li class="treeview">
                  <a class="waves-effect waves-dark" href="{% url 'home' %}">
                     <i class="icon-speedometer"></i><span> Dashboard</span>
                  </a>                
               </li>
                
               <li class="active treeview"><a class="waves-effect waves-dark" href="#!"><i class="icon-book-open"></i><span> Customer Reports</span><i class="icon-arrow-down"></i></a>
                  <ul class="treeview-menu">
                     <li><a class="waves-effect waves-dark" href="{% url 'customerform' %}"><i class="icon-arrow-right"></i> Customer Register</a></li>
                     
                     <li><a class="waves-effect waves-dark" href="{% url 'customer_table' %}"><i class="icon-arrow-right"></i>  Customer Data</a></li>

                     {% comment %} <li><a class="waves-effect waves-dark" href="{% url 'user_data' %}"><i class="icon-arrow-right"></i>  Register Data</a></li> {% endcomment %}
                  </ul>
               </li>

               <li class=" treeview"><a class="waves-effect waves-dark" href="#!"><i class="icon-book-open"></i><span> Customer Reports</span><i class="icon-arrow-down"></i></a>
                  <ul class="treeview-menu">
                     <li><a class="waves-effect waves-dark" href="{% url 'customerform' %}"><i class="icon-arrow-right"></i> Customer Register</a></li>
                     
                     <li><a class="waves-effect waves-dark" href="{% url 'customer_table' %}"><i class="icon-arrow-right"></i>  Customer Data</a></li>

                     <li><a class="waves-effect waves-dark" href="{% url 'user_data' %}"><i class="icon-arrow-right"></i>  Register Data</a></li>

                  </ul>
               </li>

               <li class=" treeview"><a class="waves-effect waves-dark" href="#!"><i class="icon-book-open"></i><span> Categories</span><i class="icon-arrow-down"></i></a>
                  <ul class="treeview-menu">
                     <li><a class="waves-effect waves-dark" href="{% url 'category_register' %}"><i class="icon-arrow-right"></i> Category Register</a></li>
                     
                     <li><a class="waves-effect waves-dark" href="{% url 'category_show' %}"><i class="icon-arrow-right"></i>  Categories Data</a></li>
      
                  </ul>
               </li>
                
               
            </ul>
         </section>
      </aside>
      
      <div class="content-wrapper">
         <!-- Container-fluid starts -->
         <div class="container-fluid">

            <!-- Header Starts -->
            <div class="row">
               <div class="col-sm-12 p-0">
                  <div class="main-header">
                     <h4>Customer Data</h4>
                     
                  </div>
               </div>
            </div>
            <!-- Header end -->

            <!-- Tables start -->
            <!-- Row start -->
            <!-- Hover effect table starts -->
            <div class="card">

               <div class="card-block">
                  <div class="row">
                     <div class="col-12 table-responsive">
                        <table class="table">
                           
                           <thead>
                             <tr>
                               <th scope="col">ID</th>
                               <th scope="col">First Name</th>
                               <th scope="col">Last Name</th>
                               <th scope="col">Email</th>
                               <th scope="col">Phone</th>
                               <th scope="col">City</th>
                               <th scope="col"></th>
                             </tr>
                           </thead>
                           <tbody>
                              {% if form %}
                              {% for data in form %}
                             <tr>

                               <th scope="row"> {{data.id}} </th>
                               <td> {{data.first_name}} </td>
                               <td> {{data.last_name}} </td>
                               <td> {{data.email}} </td>
                               <td> {{data.phone}} </td>
                               <td> {{data.city}} </td>
                               <td><a href="{% url 'editCustomer' data.id %}"> <button type="submit" class="btn btn-success waves-effect waves-light m-r-30">Edit</button> </a></td>
                               <td><a href="{% url 'deleteCustomer' data.id %}"> <button type="submit" class="btn btn-danger waves-effect waves-light m-r-30">Delete</button> </a></td>
                             </tr>
                             
                           </tbody>
                           {% endfor %}
                           {% endif %}
                         </table>
                     </div>
                  </div>
               </div>
            </div>
            
            <a href="{% url 'customerform' %}"> <button type="submit" class="btn btn-primary waves-effect waves-light m-r-30">Add Customer Form</button> </a>
            <!-- Hover effect table ends -->
            <!-- Row end -->
            <!-- Tables end -->
         </div>
      </div>
   </div>
{% endblock %}